*
!.circleci/*
!app/code/community/Bolt/*
!app/design/adminhtml/default/default/layout/boltpay.xml
!app/design/adminhtml/default/default/template/boltpay/*
!app/design/frontend/base/default/layout/boltpay.xml
!app/design/frontend/base/default/template/boltpay/*
!app/etc/modules/Bolt_Boltpay.xml
!lib/Boltpay/*
!skin/frontend/base/default/boltpay/*
!tests/*
!create_release.sh
!CHANGELOG.md
!README.md
!composer.json