<?xml version="1.0"?>
<config>
    <modules>
        <Bolt_Bolt>
            <version>1.0.0</version>
        </Bolt_Bolt>
    </modules>

    <global>
        <blocks>
            <bolt_bolt>
                <class>Bolt_Bolt_Block</class>
            </bolt_bolt>
        </blocks>
        <models>
            <bolt_bolt>
                <class>Bolt_Bolt_Model</class>
            </bolt_bolt>
            <salesrule>
                <rewrite>
                    <validator>Bolt_Bolt_Model_Validator</validator>
                </rewrite>
            </salesrule>
            <amrules>
                <rewrite>
                    <observer>Bolt_Bolt_Model_Observer</observer>
                </rewrite>
            </amrules>
        </models>
        <events>
            <bolt_boltpay_filter_shipping_label>
                <observers>
                    <bolt_bolt_add_shipping_time_to_label>
                        <class>Bolt_Bolt_Model_Observer</class>
                        <method>addShippingTimeToLabel</method>
                    </bolt_bolt_add_shipping_time_to_label>
                </observers>
            </bolt_boltpay_filter_shipping_label>
            <bolt_boltpay_shipping_method_applied_after>
                <observers>
                    <bolt_bolt_skip_in-store_pickup>
                        <class>Bolt_Bolt_Model_Observer</class>
                        <method>skipInStorePickup</method>
                    </bolt_bolt_skip_in-store_pickup>
                </observers>
            </bolt_boltpay_shipping_method_applied_after>
            <bolt_boltpay_order_creation_before>
                <observers>
                    <bolt_bolt_set_in-store_pickup>
                        <class>Bolt_Bolt_Model_Observer</class>
                        <method>setInStorePickup</method>
                    </bolt_bolt_set_in-store_pickup>
                </observers>
            </bolt_boltpay_order_creation_before>
            <bolt_boltpay_order_creation_after>
                <observers>
                    <bolt_bolt_add_customer_note_to_order>
                        <class>Bolt_Bolt_Model_Observer</class>
                        <method>addOrderNote</method>
                    </bolt_bolt_add_customer_note_to_order>
                </observers>
            </bolt_boltpay_order_creation_after>
            <bolt_boltpay_filter_bolt_order>
                <observers>
                    <bolt_bolt_add_customer_note_to_bolt_order>
                        <class>Bolt_Bolt_Model_Observer</class>
                        <method>addNoteToBoltOrder</method>
                    </bolt_bolt_add_customer_note_to_bolt_order>
                </observers>
            </bolt_boltpay_filter_bolt_order>
            <bolt_boltpay_filter_discount_amount>
                <observers>
                    <bolt_bolt_adjust_amstay_discount>
                        <class>Bolt_Bolt_Model_Observer</class>
                        <method>adjustAmastyDiscount</method>
                    </bolt_bolt_adjust_amstay_discount>
                </observers>
            </bolt_boltpay_filter_discount_amount>

        </events>
    </global>

    <frontend>
        <routers>
            <bolt_bolt>
                <use>standard</use>
                <args>
                    <module>Bolt_Bolt</module>
                    <frontName>bolt</frontName>
                </args>
            </bolt_bolt>
        </routers>
        <layout>
            <updates>
                <bolt_bolt>
                    <file>bolt.xml</file>
                </bolt_bolt>
            </updates>
        </layout>
    </frontend>
</config>
