<?xml version="1.0"?>
<config>
    <modules>
        <Bolt_Bolt>
            <version>0.0.1</version>
        </Bolt_Bolt>
    </modules>

    <global>
        <helpers>
            <bolt_bolt>
                <class>Bolt_Bolt_Helper</class>
            </bolt_bolt>
            <boltpay>
                <rewrite>
                    <data>Bolt_Bolt_Helper_Data</data>
                </rewrite>
            </boltpay>
        </helpers>
        <blocks>
            <bolt_bolt>
                <class>Bolt_Bolt_Block</class>
            </bolt_bolt>
        </blocks>
        <models>
            <bolt_bolt>
                <class>Bolt_Bolt_Model</class>
            </bolt_bolt>
            <salesrule>
                <rewrite>
                    <validator>Bolt_Bolt_Model_Validator</validator>
                </rewrite>
            </salesrule>
            <amrules>
                <rewrite>
                    <observer>Bolt_Bolt_Model_Observer</observer>
                </rewrite>
            </amrules>
            <boltpay>
                <rewrite>
                    <boltOrder>Bolt_Bolt_Model_BoltOrder</boltOrder>
                    <shippingAndTax>Bolt_Bolt_Model_ShippingAndTax</shippingAndTax>
                    <payment>Bolt_Bolt_Model_Payment</payment>
                </rewrite>
            </boltpay>
        </models>
    </global>

    <frontend>
        <routers>
            <bolt_bolt>
                <use>standard</use>
                <args>
                    <module>Bolt_Bolt</module>
                    <frontName>bolt</frontName>
                </args>
            </bolt_bolt>
        </routers>
        <layout>
            <updates>
                <bolt_bolt>
                    <file>bolt.xml</file>
                </bolt_bolt>
            </updates>
        </layout>
    </frontend>
</config>
