<?xml version="1.0" encoding="UTF-8"?>
<config>
  <sections>
    <payment>
      <groups>
        <boltpay>
          <fields>
            <bugsnag_log translate="label">
              <label>Bugsnag Log</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>200</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </bugsnag_log>
          </fields>
        </boltpay>
      </groups>
    </payment>
  </sections>
</config>
