<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true" backupGlobals="true">
    <testsuites>
        <testsuite name="Мой набор тестов">
            <directory>./Boltpay/</directory>
            <exclude>/lib</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./../../../lib/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true" showUncoveredFiles="false" />
    </logging>
</phpunit>