<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Bolt magento plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2018 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
  <sections>
    <payment>
      <groups>
        <boltpay translate="label" module="boltpay">
          <label>Bolt Pay</label>
          <frontend_type>text</frontend_type>
          <sort_order>34</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <test translate="label">
              <label>Sandbox Mode</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </test>
            <auto_capture translate="label">
              <label>Automatic Capture Mode</label>
              <comment>If enabled, payment is automatically captured when Bolt approves orders. Otherwise, payment is captured when you create an invoice.</comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </auto_capture>

            <api_key translate="label">
              <label>API Key</label>
              <frontend_type>obscure</frontend_type>
              <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </api_key>
            <publishable_key_multipage translate="label">
              <label> Publishable Key - Multi Step Checkout (default)</label>
              <frontend_type>text</frontend_type>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </publishable_key_multipage>
            <publishable_key_admin translate="label">
              <label> Publishable Key - Backoffice (optional)</label>
              <comment>This key is required to process payment from magento admin. Please consult with your account manager if you don't have the key.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </publishable_key_admin>
            <publishable_key_onepage translate="label">
              <label> Publishable Key - One Page Checkout (optional)</label>
              <frontend_type>text</frontend_type>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </publishable_key_onepage>
            <!--
                The Bolt Signing Secret Key configuration, used to verify web hook request signature.
             -->
            <signing_key translate="label">
              <label>Signing Secret</label>
              <frontend_type>obscure</frontend_type>
              <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <sort_order>15</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </signing_key>

            <ipstack_key translate="label">
              <label>Ipstack Access Key</label>
              <frontend_type>obscure</frontend_type>
              <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <tooltip>
                <![CDATA[
                <b>If provided, Bolt plugin performs address lookup to optimize the performance. Obtain API key via https://ipstack.com/ or contact Bolt</b>
                ]]>
              </tooltip>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ipstack_key>

            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <theme translate="label">
              <label>Button Theme</label>
              <frontend_type>select</frontend_type>
              <source_model>boltpay/source_themes</source_model>
              <sort_order>22</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </theme>

            <selectors translate="label">
              <label>Replace Button Selectors</label>
              <frontend_type>text</frontend_type>
              <comment>CSS selectors of buttons to be replaced by Bolt.  Selectors are comma delimited, default: .btn-proceed-checkout</comment>
              <sort_order>35</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </selectors>

            <selector_styles translate="label">
              <label>Targeted CSS</label>
              <frontend_type>textarea</frontend_type>
              <comment>
                A `||` delimited list of blocks of CSS associated with a replace button
                selector added to the pages on which the specified button it is found.
                An example can be seen in the tooltip for adding css depending on if a
                specific button is found.
              </comment>
              <tooltip>
                <![CDATA[
<b>Example of adding styles based on two different selectors:</b>
<pre>
  .btn-proceed-checkout {
    body { max-width: 95%;}
    li.button-box { float: right; margin: 2px;}
  }
  <b>||</b>
  .btn-quickbuy {
    li.button-container { float: left; }
    .btn-quickbuy { width: 10px; }
  }
</pre>
                ]]>
              </tooltip>
              <sort_order>36</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </selector_styles>

            <additional_css translate="label">
              <label>Global CSS</label>
              <comment>Any CSS that is to be added to pages when any Bolt button selector is found</comment>
              <frontend_type>textarea</frontend_type>
              <sort_order>38</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </additional_css>

            <successpage translate="label">
              <label>Success Page Redirect</label>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </successpage>
            
            <hide_on_checkout>
              <label>Hide On Checkout Page</label>
              <sort_order>42</sort_order>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </hide_on_checkout>

            <disable_complete_authorize translate="label">
              <label>Disable Complete Authorize</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>46</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </disable_complete_authorize>
            
            <enable_merchant_scoped_account translate="label">
              <label>Enable merchant scoped account</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>48</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enable_merchant_scoped_account>

            <allow_po_box translate="label">
              <label>Allow Shipping To PO Box</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>49</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </allow_po_box>

            <skip_payment translate="label">
              <label>Skip Payment Method Step</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <comment>Makes Bolt the only payment method when available</comment>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </skip_payment>

            <allowspecific translate="label">
              <label>Payment from Applicable Countries</label>
              <frontend_type>allowspecific</frontend_type>
              <sort_order>70</sort_order>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <depends><skip_payment>0</skip_payment></depends>
            </allowspecific>
            <specificcountry translate="label">
              <label>Payment from Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>80</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <depends><skip_payment>0</skip_payment></depends>
            </specificcountry>
            <check translate="label">
              <label>Javascript: check</label>
              <comment>
                <![CDATA[
                    <p>
This function is called just before the checkout form loads.
This is a hook to determine whether Bolt can actually proceed
with checkout at this point. This function should return a boolean.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>100</sort_order>
            </check>
            <on_checkout_start translate="label">
              <label>Javascript: onCheckoutStart</label>
              <comment>
                <![CDATA[
                    <p>
This function is called after the checkout form is presented to the user.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>101</sort_order>
            </on_checkout_start>
            <on_shipping_details_complete translate="label">
              <label>Javascript: onShippingDetailsComplete</label>
              <comment>
                <![CDATA[
                    <p>
This function is called when the user proceeds to the shipping options page.
This is applicable only to multi-step checkout.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>102</sort_order>
            </on_shipping_details_complete>
            <on_shipping_options_complete translate="label">
              <label>Javascript: onShippingOptionsComplete</label>
              <comment>
                <![CDATA[
                    <p>
This function is called when the user proceeds to the payment details page.
This is applicable only to multi-step checkout.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>103</sort_order>
            </on_shipping_options_complete>
            <on_payment_submit translate="label">
              <label>onPaymentSubmit</label>
              <comment>
                <![CDATA[
                    <p>
This function is called after the user clicks the pay button.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>104</sort_order>
            </on_payment_submit>
            <success translate="label">
              <label>Javascript: success</label>
              <comment>
                <![CDATA[
                    <p>
This function is called when the Bolt checkout transaction is successful.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>105</sort_order>
            </success>
            <close translate="label">
              <label>Javascript: close</label>
              <comment>
                <![CDATA[
                    <p>
This function is called when the Bolt checkout modal is closed.
                    </p>
                    ]]>
              </comment>
              <frontend_type>textarea</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>106</sort_order>
            </close>
            <use_javascript_in_admin translate="label">
              <label>Use Custom Javascript in Admin Order Creation?</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <comment>The javascript events above are usually intended for the frontend store pages.  Enable this option if you also want them applied to the admin order creation interface.</comment>
              <sort_order>111</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </use_javascript_in_admin>
            <add_button_everywhere translate="label">
              <label>Add Bolt Button Everywhere</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <comment>By default, Bolt checkout button is displayed in cart page. Enable this option if you plan to display Bolt checkout outside of cart page, such as mini cart.</comment>
              <sort_order>120</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </add_button_everywhere>
            <sort_order translate="label">
              <label>Sort Order</label>
              <frontend_type>text</frontend_type>
              <comment>Influences display order on checkout pages relative to other payment options.  This does not affect any other pages including the shopping cart and product pages.</comment>
              <sort_order>150</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <frontend_class>validate-number</frontend_class>
            </sort_order>
            <checkapi translate="label">
              <label>Check Boltpay API</label>
              <frontend_type>button</frontend_type>
              <frontend_model>boltpay/adminhtml_system_config_form_button</frontend_model>
              <sort_order>151</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment> </comment>
            </checkapi>
          </fields>
        </boltpay>
      </groups>
    </payment>
  </sections>
</config>
