<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Bolt magento plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Bolt
 * @package    Bolt_Boltpay
 * @copyright  Copyright (c) 2019 Bolt Financial, Inc (https://www.bolt.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
  <sections>
    <payment>
      <groups>
        <boltpay translate="label" module="boltpay">
          <label>Bolt Pay</label>
          <frontend_type>text</frontend_type>
          <frontend_class>complex</frontend_class>
          <sort_order>34</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <test translate="label">
              <label>Sandbox Mode</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </test>

            <keys type="group" translate="label comment">
              <label>Keys</label>
              <comment><![CDATA[Keys and URL Configurations can be found at <a href="merchant.bolt.com/settings">merchant.bolt.com/settings</a> or <a href="merchant-sandbox.bolt.com/settings">merchant-sandbox.bolt.com/settings</a>.]]></comment>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <expanded>1</expanded>
              <fields>
                <api_key translate="label tooltip">
                  <label>API Key</label>
                  <frontend_type>obscure</frontend_type>
                  <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                  <sort_order>10</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <tooltip>Used for calling Bolt API from your backend server.</tooltip>
                </api_key>
                <!--
                    The Bolt Signing Secret Key configuration, used to verify web hook request signature.
                 -->
                <signing_key translate="label tooltip">
                  <label>Signing Secret</label>
                  <frontend_type>obscure</frontend_type>
                  <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                  <sort_order>20</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <tooltip>Used for signature verification</tooltip>
                </signing_key>
                <publishable_key_multipage translate="label tooltip">
                  <label>Publishable Key - Multistep</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>30</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <tooltip>Used by Bolt JavaScript to display the Multistep Experience</tooltip>
                </publishable_key_multipage>
                <publishable_key_onepage translate="label tooltip">
                  <label>Publishable Key - Payment Only</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>40</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <tooltip>Used by Bolt JavaScript to display the Payment Only Experience</tooltip>
                </publishable_key_onepage>
                <publishable_key_admin translate="label tooltip">
                  <label>Publishable Key - Back Office</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>50</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <tooltip>Used by Bolt JavaScript to display the Back Office Experience</tooltip>
                </publishable_key_admin>
              </fields>
            </keys>

            <where_to_add_bolt type="group" translate="label">
              <label>Where to add Bolt?</label>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <expanded>1</expanded>
              <fields>
                <hide_on_checkout translate="label">
                  <label>Hide On Checkout Page</label>
                  <sort_order>10</sort_order>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </hide_on_checkout>
                <add_button_everywhere translate="label comment">
                  <label>Display Bolt Checkout in the Mini Cart</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <comment>By default, Bolt checkout button is displayed in cart page. Enable this option if you plan to display Bolt checkout outside of cart page, such as mini cart.</comment>
                  <sort_order>20</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </add_button_everywhere>
                <allowed_button_by_custom_routes translate="label comment">
                  <label>Show Bolt Button on Pages By Custom Route(s)</label>
                  <frontend_type>text</frontend_type>
                  <comment>Routes are comma delimited. Leave empty if not require additional custom route.</comment>
                  <sort_order>30</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </allowed_button_by_custom_routes>
                <selectors translate="label comment">
                  <label>Replace Button Selectors</label>
                  <frontend_type>text</frontend_type>
                  <comment>CSS selectors of buttons to be replaced by Bolt. Selectors are comma delimited, default: .btn-proceed-checkout</comment>
                  <sort_order>40</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </selectors>
              </fields>
            </where_to_add_bolt>

            <additional_options type="group" translate="label">
              <label>Additional Options</label>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <expanded>1</expanded>
              <fields>
                <enable_product_page_checkout translate="label comment">
                  <label>Product Page Checkout</label>
                  <comment>Enable Bolt Checkout on Product Pages</comment>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>10</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </enable_product_page_checkout>
                <product_page_checkout_selector translate="label comment">
                  <label>Product Page Checkout Selector</label>
                  <frontend_type>text</frontend_type>
                  <comment>CSS selectors of buttons to be replaced by Bolt. Selectors are comma delimited, default: .btn-cart</comment>
                  <sort_order>20</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </product_page_checkout_selector>
                <additional_css translate="label comment">
                  <label>Additional CSS</label>
                  <comment>This CSS will be added to any page that displays the Bolt Checkout button.</comment>
                  <frontend_type>textarea</frontend_type>
                  <sort_order>30</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </additional_css>
                <additional_js translate="label comment">
                  <label>Additional JS</label>
                  <comment>This JS will be added to any page that displays the Bolt Checkout button.</comment>
                  <frontend_type>textarea</frontend_type>
                  <sort_order>40</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </additional_js>
              </fields>
            </additional_options>

            <advanced_settings type="group" translate="label">
              <label>Configure Advanced Settings</label>
              <sort_order>60</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <fields>
                <ipstack_key translate="label tooltip">
                  <label>Ipstack Access Key</label>
                  <frontend_type>obscure</frontend_type>
                  <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                  <tooltip><![CDATA[<b>If provided, Bolt plugin performs address lookup to optimize the performance. Obtain API key via https://ipstack.com/ or contact Bolt</b>]]></tooltip>
                  <sort_order>10</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </ipstack_key>
                <title translate="label">
                  <label>Title</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>20</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </title>
                <button_classes translate="label">
                  <label>Additional button CSS classes</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>30</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </button_classes>
                <selector_styles translate="label comment tooltip">
                  <label>Targeted CSS</label>
                  <frontend_type>textarea</frontend_type>
                  <comment>
                    A `||` delimited list of blocks of CSS associated with a replace button
                    selector added to the pages on which the specified button it is found.
                    An example can be seen in the tooltip for adding css depending on if a
                    specific button is found.
                  </comment>
                  <tooltip>
                    <![CDATA[
<b>Example of adding styles based on two different selectors:</b>
<pre>
  .btn-proceed-checkout {
    body { max-width: 95%;}
    li.button-box { float: right; margin: 2px;}
  }
  <b>||</b>
  .btn-quickbuy {
    li.button-container { float: left; }
    .btn-quickbuy { width: 10px; }
  }
</pre>
                    ]]>
                  </tooltip>
                  <sort_order>40</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </selector_styles>
                <successpage translate="label">
                  <label>Success Page Redirect</label>
                  <frontend_type>text</frontend_type>
                  <sort_order>50</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </successpage>
                <enable_merchant_scoped_account translate="label">
                  <label>Enable merchant scoped account</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>60</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </enable_merchant_scoped_account>
                <allow_po_box translate="label">
                  <label>Allow Shipping To PO Box</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>70</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </allow_po_box>
                <skip_payment translate="label comment">
                  <label>Skip Payment Method Step</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <comment>Makes Bolt the only payment method when available</comment>
                  <sort_order>80</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </skip_payment>
                <allowspecific translate="label">
                  <label>Payment from Applicable Countries</label>
                  <frontend_type>allowspecific</frontend_type>
                  <sort_order>90</sort_order>
                  <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <depends><skip_payment>0</skip_payment></depends>
                </allowspecific>
                <specificcountry translate="label">
                  <label>Payment from Specific Countries</label>
                  <frontend_type>multiselect</frontend_type>
                  <sort_order>100</sort_order>
                  <source_model>adminhtml/system_config_source_country</source_model>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <depends><skip_payment>0</skip_payment></depends>
                </specificcountry>
                <check translate="label comment">
                  <label>Javascript: check</label>
                  <comment><![CDATA[<p>This function is called just before the checkout form loads. This is a hook to determine whether Bolt can actually proceed with checkout at this point. This function should return a boolean.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>110</sort_order>
                </check>
                <on_checkout_start translate="label comment">
                  <label>Javascript: onCheckoutStart</label>
                  <comment><![CDATA[<p>This function is called after the checkout form is presented to the user.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>120</sort_order>
                </on_checkout_start>
                <on_email_enter translate="label comment">
                  <label>Javascript: onEmailEnter</label>
                  <comment><![CDATA[<p>This function is called after the user enters their email address.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>130</sort_order>
                </on_email_enter>
                <on_shipping_details_complete translate="label comment">
                  <label>Javascript: onShippingDetailsComplete</label>
                  <comment><![CDATA[<p>This function is called when the user proceeds to the shipping options page. This is applicable only to multi-step checkout.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>140</sort_order>
                </on_shipping_details_complete>
                <on_shipping_options_complete translate="label comment">
                  <label>Javascript: onShippingOptionsComplete</label>
                  <comment><![CDATA[<p>This function is called when the user proceeds to the payment details page. This is applicable only to multi-step checkout.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>150</sort_order>
                </on_shipping_options_complete>
                <on_payment_submit translate="label comment">
                  <label>onPaymentSubmit</label>
                  <comment><![CDATA[<p>This function is called after the user clicks the pay button.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>160</sort_order>
                </on_payment_submit>
                <success translate="label comment">
                  <label>Javascript: success</label>
                  <comment><![CDATA[<p>This function is called when the Bolt checkout transaction is successful.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>170</sort_order>
                </success>
                <close translate="label comment">
                  <label>Javascript: close</label>
                  <comment><![CDATA[<p>This function is called when the Bolt checkout modal is closed.</p>]]></comment>
                  <frontend_type>textarea</frontend_type>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <sort_order>180</sort_order>
                </close>
                <use_javascript_in_admin translate="label comment">
                  <label>Use Custom Javascript in Admin Order Creation?</label>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <comment>The javascript events above are usually intended for the frontend store pages. Enable this option if you also want them applied to the admin order creation interface.</comment>
                  <sort_order>190</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </use_javascript_in_admin>
                <extra_options translate="label">
                  <label>Extra config</label>
                  <frontend_type>textarea</frontend_type>
                  <sort_order>200</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <backend_model>boltpay/admin_extraConfig</backend_model>
                </extra_options>
                <checkapi translate="label">
                  <label>Check Boltpay API</label>
                  <frontend_type>button</frontend_type>
                  <frontend_model>boltpay/adminhtml_system_config_form_button</frontend_model>
                  <sort_order>210</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment><![CDATA[<p class="check_boltpay_api_error"></p>]]></comment>
                </checkapi>
              </fields>
            </advanced_settings>
          </fields>
        </boltpay>
      </groups>
    </payment>
  </sections>
</config>
