<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./autoload.php">
    <testsuite name="Boltpay_Unit_Test">
        <directory>testsuite</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../app/code/community/Bolt/</directory>
            <exclude>
                <!-- Excluding installation and upgrade scripts -->
                <directory>../../app/code/community/*/*/sql</directory>
                <!-- Excluding data installation and upgrade scripts -->
                <directory>../../app/code/community/*/*/data</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/_reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-php" target="tests/_reports/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
    </php>
</phpunit>
